doctype html
html(lang="en")
body
    form(method='post',action='/api/login')
        if invalidPassword
            p Authentication failed
            a(href="/authorize?response_type=code&redirect_uri=#{redirect_uri}&scope=#{scope}&client_id=#{client_id}") Return to Login page
        else
            div
                div
                    label(for='username') Username
                input.agco-user(name='username')
                div
                    div
                        label(for='password') Password
                    input.agco-password(name='password',type='password')
            button.agco-submit-btn Login
            input(type='hidden' name='redirect_uri' value=redirect_uri)
            input(type='hidden' name='scope' value=scope)
            input(type='hidden' name='client_id' value=client_id)
